@inject SignInManager<IdentityUser> SignInManager;

<!DOCTYPE html>
<title>MovieBase</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/sidebar.css" rel="stylesheet" />
<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/jquery-validate/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<div class="sidebar-container">
    <div class="sidebar-logo">
        Moviebase
    </div>
    <ul class="sidebar-navigation">
        <li class="header">Menu</li>
        <li>
            <a href="/Home/Index">
                <i class="fa fa-home" aria-hidden="true"></i> Homepage
            </a>
        </li>
        <li>
            <a href="/Film/Index">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Movies
            </a>
        </li>
        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <li>
                <a href="/Administration/ListRoles">
                    <i class="fa fa-tachometer" aria-hidden="true"></i> List Roles
                </a>
            </li>
            <li>
                <a href="/Administration/ListUsers">
                    <i class="fa fa-tachometer" aria-hidden="true"></i> List Users
                </a>
            </li>
        }
        @if (SignInManager.IsSignedIn(User))
        {
            <li>
                <a href="/Account/Profile">
                    <i class="fa fa-tachometer" aria-hidden="true"></i> Profile
                </a>
            </li>
            <li>
                <a href="/Profile/Watchlist">
                    <i class="fa fa-tachometer" aria-hidden="true"></i> Watchlist
                </a>
            </li>
            <li>
                <a href="/Profile/Watched">
                    <i class="fa fa-tachometer" aria-hidden="true"></i> Watched
                </a>
            </li>
            <li class="nav-item">
                <form id="logout" method="post" asp-controller="account" asp-action="logout">
                    <a href="javascript:;" onclick="document.getElementById('logout').submit()">
                        <i class="fa fa-tachometer" aria-hidden="true"></i> Logout @User.Identity.Name
                    </a>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="account" asp-action="register">
                    <i class="fa fa-tachometer" aria-hidden="true"></i> Register
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="account" asp-action="login">
                    <i class="fa fa-tachometer" aria-hidden="true"></i> Login
                </a>
            </li>
        }
    </ul>

</div>

<div class="content-container">

    <div class="container-fluid">

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            @RenderBody()
        </div>

    </div>
</div>

